.section-1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  .container {
    width: 100%;
    height: 100vh;
    position: relative;
    > section {
      width: 80%;
      display: none;
      @include breakingPoint(mobile) {
        width: 100%;
      }
      @include breakingPoint(small) {
        width: 100%;
      }

      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      &:first-of-type {
        background-image: url("../../imgs/section\ 1\ 4.jpg");
      }
      &:nth-of-type(2) {
        background-image: url("../../imgs/section\ 1\ 2.jpg");
      }
      &:nth-of-type(3) {
        background-image: url("../../imgs/section\ 1\ 3.jpg");
      }
      &:nth-of-type(4) {
        background-image: url("../../imgs/section\ 1\ 1.jpg");
      }
      &:nth-of-type(5) {
        background-image: url("../../imgs/section\ 1\ 5.jpg");
      }
      &:nth-of-type(6) {
        background-image: url("../../imgs/section\ 1\ 6.jpg");
      }
      &:nth-of-type(7) {
        background-image: url("../../imgs/section\ 1\ 7.jpg");
      }
      &:nth-of-type(8) {
        background-image: url("../../imgs/section\ 1\ 8.jpg");
      }
      &:nth-of-type(9) {
        background-image: url("../../imgs/section\ 1\ 9.jpg");
      }
      article {
        @include flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        .info {
          color: $white-color;
          position: absolute;
          left: -5em;
          @include breakingPoint(mobile) {
            left: 0;
            padding: 1em;
            width: 95%;
            background-color: #ffffff30;
            color: black;
            border-radius: 10px;
            margin: 0 0.5em;
          }
          @include breakingPoint(small) {
            left: 0;
            padding: 1em;
          }
          h5 {
            margin-bottom: 1em;
          }
          h1 {
            margin-bottom: 0.5em;
            font-size: 3.5em;
            font-weight: 700;
            @include breakingPoint(mobile) {
              font-size: 2.2em;
            }
            @include breakingPoint(small) {
              font-size: 2.2em;
            }
          }
          p {
            width: 42%;
            margin-bottom: 1.5em;
            @include breakingPoint(mobile) {
              width: 100%;
            }
            @include breakingPoint(small) {
              width: 50%;
            }
          }
          button {
            border: 1px solid gray;
          }
        }
      }
    }

    // -------------------
    .share-buttons-section {
      width: 100%;
      height: 5em;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;
      padding: 0 2em;
      @include breakingPoint(mobile) {
        padding: 0 0.5em;
      }
      @include flex;
      .share {
        width: 50%;
        @include flex;
        flex-direction: row;
        justify-content: flex-start;
        img {
          width: 2.5em;
          opacity: 0.5;
          margin-right: 1.5em;
          &:hover {
            opacity: 1;
          }
          @include breakingPoint(small) {
            width: 10%;
          }
        }
        #shareBut {
          cursor: pointer;
        }
        #sM {
          width: 50%;
          @include flex;
          display: none;
          justify-content: flex-start;
          transition: 0.5s;
          a {
            width: 10%;
            img {
              width: 80%;
              transition: 0.5s;
              &:hover {
                transform: rotateZ(180deg);
              }
            }
          }
        }
      }

      // -------------------
      .arrows {
        width: 10%;
        @include flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        @include breakingPoint(mobile) {
          width: 50%;
          justify-content: flex-end;
        }
        @include breakingPoint(small) {
          width: 20%;
        }
        h2 {
          font-size: 7em;
          color: $gry-color;
          opacity: 0.5;
          position: absolute;
          top: -1.5em;
          right: 0.2em;
          font-weight: 500;
          text-shadow: 1px 1px 1px black;
          @include breakingPoint(mobile) {
            font-size: 4em;
          }
        }
        img {
          width: 2.5em;
          cursor: pointer;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
          &:last-of-type {
            width: 2.5em;
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }
  .animated {
    animation-name: animated;
    animation-duration: 1s;
  }
  @keyframes animated {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
