// colors----------------------
$black-color: #000000;
$light-black-color: #161616;
$white-color: #f9f9f9;
$gry-color: #e6e6e6;

// fonts -----------------
$main-font: "Montserrat", sans-serif; // 500, 700, 800 font weight
